<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITULO}} - Mi Sitio Node.js</title>
    <link rel="stylesheet" href="/styles/estilo.css">
</head>

<body>
    <div class="contenedor">
        {{MENU}}
        <main class="contenido-principal">
            {{CONTENIDO}}
        </main>
        <footer>
            <p>Proyecto Node.js - Módulos, HTTP, FS, URL, NPM</p>
        </footer>
    </div>
    <script src="/scripts/appCliente.js"></script>
</body>

</html>